.App-experience {
    background-color: lightslategray;
    filter: opacity(70%);
    color: white;
    height: 100vh;
}

#experience {
    font-weight: 200;
    font-size: 40pt;
    margin: 40px 0;
    padding-right: 22px;
    text-align: right;
}

#company {
    padding-right: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: right;
}

.description-company {
    font-weight: 200;
    font-size: 20pt;
    margin: 50px 0;
}

#company-image {
    margin-bottom: 40px;
    width: 50%;
}

#description-text {
    text-align: justify;
}

@media (max-width: 991px) {
    .App-experience {
        height: auto;
    }

    #company-image {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .description-company {
        font-size: 15pt;
    }
}