.navbar {
    color: white;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .nav {
        text-align: center;
        float: right;
    }

    li {
        margin: 0 30px;
    }
}

@media (max-width: 767px) {

    li {
        font-size: large;
        margin-bottom: 10px;
    }

    li:hover {
        background-color: #444;
    }
}

.navbarColor {
   background: #333;
    border: transparent;
}

.container {
    width: 100%;
}

