.App-about {
    padding: 100px 0;
    color: cornsilk;
    height: 100vh;
    background-color: rgba(240, 255, 255, 0.60);
}

#container {
    margin-top: 25vh;
    transform: translateY(-25%);
}

.hidiho {
    font-size: 35pt;
    font-weight: 200;
    margin-top: 50px;
}

.profile-picture {
    width: 275px;
    padding: 10px;
    border: 2px solid cornsilk;
}

small {
    margin-top: 25px;
}

a {
    color: lightblue;
}

.description {
    font-size: large;
    text-align: left;
}

@media (max-width: 1199px) {
    .hidiho {
        font-size: xx-large;
    }
}

@media (max-width: 767px) {
    .hidiho {
        font-size: x-large;
    }

    .profile-picture {
        width: 150px;
        border: 2px solid cornsilk;
    }
}

@media (max-width: 331px) {
    .hidiho {
        font-size: large;
        margin-top: 15px;
    }
}