.App-about {
    padding: 100px 0;
    background: url("../background.jpg") top;
    color: dimgrey;
}

.hidiho {
    font-size: xx-large;
    margin-top: 30px;
}

@media (max-width: 1199px) {
    .hidiho {
        font-size: xx-large;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .hidiho {
        font-size: x-large;
        margin-top: 30px;
    }
}

@media (max-width: 331px) {
    .hidiho {
        font-size: large;
        margin-top: 15px;
    }
}

.profile-picture {
    width: 300px;
    border: 5px solid #76b8ef;
}

@media (max-width: 767px) {
    .profile-picture {
        width: 150px;
        border: 5px solid #76b8ef;
    }
}

small {
    margin-top: 25px;
}

a {
    color: #76b8ef;
}

.description {
    font-size: large;
    text-align: left;
}

.clear {
    clear: both;
}