.App-about {
    padding: 100px 0;
    color: white;
    height: 100vh;
    background-color: rgba(53, 44, 38, 0.76);
    filter: opacity(100%);
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidiho {
    font-size: 35pt;
    font-weight: 200;
    margin-top: 50px;
}

.profile-picture {
    width: 275px;
    padding: 10px;
    border: 1px solid cornsilk;
}

small {
    margin-top: 25px;
}

a {
    color: lightcoral;
}

@media (max-width: 1199px) {
    .hidiho {
        font-size: xx-large;
    }
}

@media (max-width: 767px) {
    .hidiho {
        font-size: x-large;
    }

    .profile-picture {
        width: 150px;
        border: 2px solid cornsilk;
    }
}

@media (max-width: 331px) {
    .hidiho {
        font-size: large;
        margin-top: 15px;
    }
}