.App-education {
    background-color: rgba(0, 0, 0, 0.7);
    filter: opacity(100%);
    color: white;
    min-height: 100vh;
}

#education {
    font-weight: 200;
    font-size: 40pt;
    margin: 40px 0;
    padding-left: 22px;
    text-align: left;
}

#school {
    padding-left: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: left;
}

#item-name {
    color: lightcoral;
}

.description-school {
    font-weight: 200;
    font-size: 20pt;
    margin-bottom: 50px;
}

#school-image {
    margin-bottom: 40px;
    width: 50%;
}

#description-text {
    text-align: justify;
}

@media (max-width: 991px) {
    #school-image {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .description-school {
        font-size: 15pt;
    }
}