.App {
  text-align: center;
  font-family: Raleway, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background-image-style {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  display: block;
  background: url("assets/background.jpg") center;
  background-size: cover;
  height: 100vh;
  filter: opacity(80%);
}

@supports (-ms-ime-align: auto) {
  .background-image-style {
    filter: opacity(0%);
    z-index: -1;
  }
}

.linkedin {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 64px;
  z-index: 99999;
  filter: opacity(70%);
}

.github {
  position: fixed;
  top: 20px;
  right: 110px;
  width: 64px;
  z-index: 99999;
  filter: opacity(70%);
}

@media (max-width: 767px) {
  .linkedin {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 99999;
    filter: opacity(70%);
  }

  .github {
    position: fixed;
    top: 10px;
    right: 60px;
    width: 40px;
    z-index: 99999;
    filter: opacity(70%);
  }
}